html {
  box-sizing: border-box;
  font-size: 13px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.optionPanel {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-bottom: 0;
}
.optionPanel > div {
  cursor: pointer;
}
.active-panel {
  padding-bottom: 10px;
  border-bottom: 3px solid var(--vscode-button-background);
}

/* json form ------------------------------------------- */
.jsonForm {
  margin: 20px;
}
.requestType {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0 !important;
}
.requestType > label {
  display: flex;
  justify-content: start;
  align-items: center;
}
.requestType > label > input {
  margin-right: 5px;
}
.jsonForm {
  display: flex;
  flex-direction: column;
}
.form-section {
  margin-top: 10px;
}
.input-field > label {
  display: inline-block;
  margin-bottom: 5px;
}
.checkbox-section {
  display: flex;
  justify-content: start;
  align-items: center;
}
.checkbox-section > label {
  margin-left: 5px;
  margin-bottom: 3px;
}
/* schema definition styles */
.schema-definition-options {
  display: flex;
  margin-bottom: 20px;
}
.schema-definition-options > div {
  margin-right: 20px;
}
.active-schema-option {
  padding-bottom: 10px;
  border-bottom: 3px solid var(--vscode-button-background);
}
.schema-definition-options > div {
  cursor: pointer;
}

/* submit btn------------------------------------------- */
#cookIcon {
  height: 25px;
  margin-right: 20px;
}
path {
  fill: white;
}
.cookBtn {
  margin-top: 20px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}

/* toast--------------------------------------------------- */
.toast {
  position: absolute;
  display: none;
  bottom: 0;
  margin: 20px;
  background-color: var(--vscode-textPreformat-background);
  border-left: 3px solid var(--vscode-button-background);
  padding: 8px;
  justify-content: center;
  align-items: center;
  transform: translateX(-120%);
  transition: all 0.5s ease-in-out;
  .close-toast {
    margin-left: 8px;
    font-size: 11px;
    cursor: pointer;
  }
}
.animateToast {
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}
